fetch-retries=5
fetch-retry-mintimeout=3000
fetch-retry-maxtimeout=20000
strict-ssl=false
timeout=120000
fetch-timeout=120000
fetch-retry-factor=10

registry=https://registry.npmjs.org/
publish-registry=https://registry.npmjs.org/
